.document {
  display: flex;
  flex-flow: column;
  max-width: auto;
  margin: 100px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  align-items: center;
  background-color: lightblue;
  padding: 50px;
}
.Text {
  padding: 40px;

  text-align: center;
}
.DocumentText {
  color: red;
}
