.HeadSection {
  display: flex;
  margin: 50px 60px;
  line-height: 0px;
}
.SubSection {
  margin-right: 99px;
  font-size: small;
}
.line {
  width: 91%;
}
.text {
  margin-left: 60px;
  margin-top: 35px;
  font-family: Arial, Helvetica, sans-serif;
}
.containerSec {
  display: flex;
  margin-left: 60px;
  margin-top: 60px;
  gap: 50px;
}
.containerSec2 {
  display: flex;
  max-width: 47%;
  margin-left: 60px;
  margin-top: 1px;
  gap: 70px;
}

.containerSec1 {
  /* display: flex; */
  max-width: 47%;
  margin-left: 60px;
  gap: 70px;
  background-color: aqua;
}
/* .containerSec div {
  max-width: 90%;
} */
.SubHeader {
  margin-right: 30px;
  font-weight: bold;
}

.SubList {
  font-size: small;
  padding-right: 60px;
}

.SubList1 {
  font-size: small;
  display: flex;
}
.List {
  line-height: 3px;
  padding-top: 0.1px;
}
.SubContainer {
  display: flex;
  gap: 2px;
  max-width: 60%;
}
.SubContainerTypo {
  display: flex;
  gap: 2px;
  max-width: 60%;
  margin-top: -35px;
}
.SubContainerColor {
  display: flex;
  gap: 2px;
  max-width: 60%;
  margin-right: 20px;
}
.SubContainer1 {
  display: flex;
  gap: 2px;
  margin-left: 23.89%;
  margin-top: -55px;
  width: 300px;
}
.Number {
  font-size: small;
}
